body {
/*  text-align: center;*/
  font-family: 'Roboto', sans-serif;
  letter-spacing: .75px;
  color: #5d5b5b;
  font-size: 12px;
}

.sub-heading {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  display: block;
}

.big {
  font-weight: 100;
  font-size: 45px;
  display: block;
  text-align: left;
  padding: 0;
  margin: 0;
}

svg {
  width: 50px;
  height: 50px;
  color: white;
  text-align: center;
}

/* ===================
    TOP HEADER
=================== */

.header-flex-container {
  display: inline-flex;
  align-items: center;
  height: 70px;
  width: 100%;
  text-align: center;
  justify-content: space-between;
}

.logo {
  padding: 0 20px;
  color: white;
}

.right-nav {
  padding: 0 40px;
  display: flex;
  align-content: center;
  align-items: center;
  
}

/* ===================
    SIDEBAR
=================== */

.sidebar-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sb-flex-item {
  width: 30px;
  height: 30px;
  margin: 17px auto;
}

/* ===================
    TOP TABS
=================== */

.dashboard-flex-container { 
  height: 65px;
  background-color: #FAFAFB;
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  z-index: 5;
  border-bottom: 1px solid #DFDFDF;
}

.dashboard-title {
/*  height: 80px;*/
/*  line-height: 93%;*/
  padding: 0 20px;
  border-right: 1px solid #DFDFDF;
  border-bottom: 1px solid white;
  z-index: 1000;
  display: none;
  background-color: white;
}

/* ===================
    BAR AND PIE CHART
=================== */

.two-chart-flex-container {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #DFDFDF;
  border-bottom: 1px solid #DFDFDF;
}

.two-chart-flex-item {
  padding: 20px 20px;
  width: 100%;
}

.alert-box {
  font-weight: 100;
  padding: 2px 20px;
  background-color: #686CB7;
  border-radius: 5px;
  color: white;
  display: ;
}

.graph {
  background-color: white;
  margin-top: 35px;
}

/* ===================
    SOCIAL STATS
=================== */

.social-flex-container {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  margin-bottom: 15px;
}

/* ===================
    MEMBERS AND ACTIVITY
=================== */

.members {
  grid-area: members;
  border-right: 1px solid #DFDFDF;
}

.activity {
  grid-area: activity;
}

.message-user {
  grid-area: message-user;
}

.settings {
  grid-area: settings;
}

.act-flex-container {
/*  border-top: 1px solid #DFDFDF;*/
  display: grid;
  grid-gap: 0;
  grid-template-areas: 
    "members"
    "activity"
    "message-user"
    "settings"
}

/* ===================
    CHARTS
=================== */

.myChart {
  width: 100%;
  
}
#myChart {
  width: 300px;
  height: auto;
}

.light {
  font-weight: 100;
}

h2 {
}

h3 {
  font-weight: 400;
  font-size: 20px;
}

.bell {
  height: 25px;
  width: 25px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-right: 1px solid #5257B7;
}

.dog {
  height: 35px;
  width: 35px;
  margin-left: 15px;
  border-radius: 100%;
}

.name {
  margin-left: 10px;
  font-weight: 100;
  font-size: 14px;
}


/* ===================
    TOP SEARCH BOX
=================== */

.search-box {
  display: inline-flex;
  align-content: center;
  align-items: center;
}

.search-box input[type=text] {
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #DFDFDF;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 100;
  background-color: white;
  padding: 12px 20px 12px 10px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  margin: 0px auto;
}

.search-box input::placeholder {
  color: #BEBEBE;
}

input[type=text].search-box::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #DFDFDF;
}
input[type=text].search-box::-moz-placeholder { /* Firefox 19+ */
  color: #DFDFDF;
}
input[type=text].search-box:-ms-input-placeholder { /* IE 10+ */
  color: #DFDFDF;
}
input[type=text].search-box:-moz-placeholder { /* Firefox 18- */
  color: #DFDFDF;
}

.search-button {
  position: relative;
  top: 5px;
  right: 34px;
  width: 20px;
  height: auto;
}
form {
  position: relative;
}





.alert {
  font-weight: 400;
  font-size: 16px;
  padding-right: 12px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 42px;
  cursor: pointer;
  transform: 0.3s;
}

.closebtn:hover {
  color: black;
}
.sub-heading-container {
  display: flex;
  justify-content: space-between;
  align-content: flex-end;
  align-items: flex-end;
}

.date-links {
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #76C284;
  border-radius: 30px;
  color: white;
}

.date-links:hover {
  color: black;
}

.bar-chart-div {
  border-right: 1px solid #DFDFDF;;
}

.label {
  margin-bottom: 20px;
}

.act-flex-item {
  padding: 20px 20px;
  border-top: 1px solid #DFDFDF;
}

.act-flex-item:nth-child(odd) {
  border-right: 1px solid #DFDFDF;
}

.s-flex-item {
  display: flex;
  padding: 20px 20px;
  margin: 0 10px;
  text-align: center;
  flex-grow: 1;
  background-color: #FAFAFB;
  border-radius: 5px;
  border: 1px solid #DFDFDF;
  align-items: center;
  
}

.circle-twitter, .circle-facebook, .circle-google {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  background-color: #686CB7;
  margin-right: 20px;
}

.twitter {

}

.social-name {
  display: block;
  font-size: 20px;
  font-weight: 700;
  color: #686CB7;
  text-align: left;
}

.member-entry {
  display: inline-flex;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #DFDFDF;
  margin-top: 20px;
}

.act-flex-container .member-entry:last-of-type {
  border-bottom: 0;
}

.profile-pic {
  display: block;
}

.cat-photo-profile-pic {
  width: 40px;
  height: auto;
  border-radius: 100%;
  border: 1px solid grey;
}

.contact-details span {
  
}

.top-info {
  display: block;
  font-size: 14px;
}

.bottom-info {
  display: block;
  color: #686CB7;
}

.contact-details {
  margin-left: 15px;
  
}

.date {
  text-align: right;
  width: 100%;
}

/* ===================
    MESSAGE USER FORM
=================== */

.message-user-box input[type=text], .message-user-box textarea[name=textarea] {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #DFDFDF;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 100;
  background-color: #FAFAFB;
  padding: 12px 20px 12px 10px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.message-user-box input::placeholder, .message-user-box textarea::placeholder {
  color: #BEBEBE;
}

input[type=text].search-box::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #DFDFDF;
}
input[type=text].search-box::-moz-placeholder { /* Firefox 19+ */
  color: #DFDFDF;
}
input[type=text].search-box:-ms-input-placeholder { /* IE 10+ */
  color: #DFDFDF;
}
input[type=text].search-box:-moz-placeholder { /* Firefox 18- */
  color: #DFDFDF;
}

.message-user-box {
  margin-top: 20px;
  padding-bottom: 40px;
}

input, textarea {
  display: inline-block;
  margin-bottom: 15px;
  resize: none;
}

.send-button {
  display: inline-block;
  padding: 15px;
  border-radius: 4px;
  background-color: #686CB7;
  font-size: 14px;
  font-weight: bold;
  color: white;
  width: 100%;
  border: none;
}

/* ===================
    SETTINGS
=================== */


.email-notif-toggle {
  display: flex;
  margin-top: 25px;
  align-items: center;
}



/* OTHER */

.setting-message {
  margin-right: 40px;
  width: 50%;
}

/* ===================
    ON/OFF Switch
=================== */

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #C3C4C7; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 10px;
    background-color: #696CB7; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 56px;
    border: 2px solid #C3C4C7; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

/* Dropdown */

.dropdown {
  margin-top: 30px;
  margin-bottom: 24px;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  font-size: 16px;
  font-weight: 100;
  border: 1px solid #DFDFDF;
  background-color: #FAFAFB;
  color: #BEBEBE;
}

/* Save/Candcel Buttons */

.save-button {
  display: inline;
  float: left;
  padding: 15px;
  border-radius: 4px;
  background-color: #686CB7;
  font-size: 14px;
  font-weight: bold;
  color: white;
  width: 48%;
  border: none;
}

.cancel-button {
  display: inline;
  float: right;
  padding: 15px;
  border-radius: 4px;
  background-color: #A9A9A9;
  font-size: 14px;
  font-weight: bold;
  color: white;
  width: 48%;
  border: none;
}

.circle-twitter svg {
  position: relative;
  top: 19px;
  display: inline-block;
  width: 40px;
  height: auto;
  fill: white;
  text-align: center;
}

.circle-facebook svg {
  position: relative;
  top: 15px;
  display: inline-block;
  width: 40px;
  height: auto;
  fill: white;
  text-align: center;
}

.circle-google svg {
  position: relative;
  top: 15px;
  display: inline-block;
  width: 40px;
  height: auto;
  fill: white;
  text-align: center;
}

/* ===================
    RECENT ACTIVITY
=================== */

.act-flex-item .contact-details {
  width: 100%;
}

.activity-entry {
  display: inline-flex;
  align-items: center;
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid #DFDFDF;
  margin-top: 20px;
}

.activity-bottom-info {
  display: block;
  color: #686CB7;
}

.activity-date {
  text-align: right;
  width: 20%;
}

.right-arrow {
  font-size: 20px;
}
