@media screen and (min-width: 320px) {
  
  .bar-chart-div {
    border-right: 1px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF;
  }
  
  /* ===================
    TOP HEADER
  =================== */

  .header-flex-container {
    display: inline-flex;
    align-items: center;
    height: 70px;
    width: 100%;
/*    text-align: center;*/
    justify-content: space-around;
    background-color: #696CB7;
  }

  .logo {
    padding: 0 20px;
    color: white;
  }
  
  .name {
    color: white;
  }

  .right-nav {
/*    padding: 0 0px;*/
    display: flex;
/*
    align-content: flex-end;
    align-items: flex-end;
*/
  }
  
  
  .two-chart-flex-item {
    padding: 10px 10px;
    width: 100%;
  }
  
  .wrapper {
  padding: 10px 10px;
  }
  
  .sidebar {
    display: none;
  }

  .search-box {
    margin-left: 10px;  
  }
  
  .header-flex-container {
    width: auto;
  }
  
  .social-flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
  
  .s-flex-item {
    margin: 10px 0;
  }
  
  .date-links {
    display: none;
  }
  
  .act-flex-item {
    padding: 20px 10px;
    border-top: 1px solid #DFDFDF;
  }
  
  .members {
    border-right: 0px solid white;
  }
  
  
  /* ===================
    TOP HEADER
  =================== */

  .header-flex-container {
    display: flex;
    align-items: center;
    height: 70px;
    width: auto;
    text-align: center;
    justify-content: space-between;
  }

  .logo {
    padding: 0 20px;
    color: white;
  }

  .right-nav {
    padding: 0 40px;
    display: flex;
    align-content: center;
    align-items: center;

  }
  
  #myChart, #myBarChart, #myPieChart {
    width: 100%;
    height: auto;
  }
  
  .two-chart-flex-container {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF;
  }
  
    
}

@media screen and (min-width: 768px) {
  
    .date-links {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #76C284;
    border-radius: 30px;
    color: white;
  }
  
    .bar-chart-div {
      border-bottom: none;
    }
  
  .two-chart-flex-container {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #DFDFDF;
    border-bottom: 1px solid #DFDFDF;
  }
  
  .right-nav {
    padding: 0 40px;
    display: flex;
    align-content: center;
    align-items: center;
  }
  
  .members {
    grid-area: members;
    border-right: 1px solid #DFDFDF;
  }
  
  .act-flex-item {
    padding: 20px 20px;
    border-top: 1px solid #DFDFDF;
  }
  
  .search-box {
    margin-left: 20px;  
  }
  
  .two-chart-flex-item {
    padding: 20px 20px;
    width: 100%;
  }
  
  /* ===================
    GRID LAYOUT
  =================== */

  .grid-container {
    display: grid;
    grid-template-columns: 0px 0px auto;
    grid-template-rows: auto 0px auto;
  }

  .grid-item {
    background-color: white;
    padding: 0px;
  }

  .header {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background: #696CB7;
    height: 70px;
    color: white;
  }

  .sidebar {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 6;
    background: #444367;
  }

  .main {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    background: white;
  }
  
  .wrapper {
    padding: 20px 20px;
  }
  
  .header-flex-container {
    display: inline-flex;
    align-items: center;
    height: 70px;
    width: 100%;
    text-align: center;
    justify-content: space-between;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 70px 0px auto;
    grid-template-rows: auto 0px auto;
  }
  
  .dashboard-title {
    height: 100%;
    line-height: 170%;
    padding: 0 20px;
    border-right: 1px solid #DFDFDF;
    z-index: 1000;
    display: block;
    background-color: white;
  }
  
  .two-chart-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .social-flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
  }
  
  .s-flex-item {
    margin: 10px 0;
  }
  
  .act-flex-container {
    grid-template-columns: 50% 50%;
    grid-template-areas: 
      "members activity"
      "message-user settings";
  }
  
  .contact-details {
    margin-left: 10px;
  }
  
  .bottom-info {
    display: none;
  }
  
  .top-info {
    font-size: 12px;
  }
  
  .sidebar {
    display: block;
  }
  
}

@media screen and (min-width: 1024px) {
  
  .contain-all {
    width: 1024px;
    height: auto;
    margin: 0 auto;
    border: 1px solid #DADADA;
  }
  
  .top-info {
    display: block;
    font-size: 14px;
  }
  
  .contact-details {
    margin-left: 15px;
  }
  
  .bottom-info {
    display: block;
  }
  
  .s-flex-item {
    display: inline-flex;
    padding: 20px 20px;
    margin: ;
    text-align: center;
    flex-grow: 1;
    background-color: #FAFAFB;
    border-radius: 5px;
    border: 1px solid #DFDFDF;
    align-items: center;
  }
  
  .facebook-div {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .social-flex-container {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-bottom: 15px;
    width: 100%;
  }
  
}